body {
    font-family: 'Nunito', sans-serif;
}

.header-forgot {
    background-image: url(./image/backgroud-image-forgotpassword.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-forgot .header-content {
    background-color: rgba(0, 0, 0, 0.5);
    height: 758px;
    padding-left: 139px;
    color: white;
}

.header-forgot .header-content .header-nav {
    margin: 0.89px;
    padding-top: 74px;
}

.header-forgot .header-content .header-nav i {
    font-size: 30px;
    margin-right: 76px;
}

.header-forgot .header-content .header-nav span {
    font-size: 24px;
}

.header-forgot .header-content h1.heading {
    font-size: 64;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: bold;
    line-height: 85px;
    margin-top: 40px;
}

.header-forgot .header-content form div {
    text-align: center;
}

.header-forgot .header-content form div input {
    height: 79px;
    width: 447px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    margin-bottom: 31px;
}

.header-forgot .header-content form div input:focus {
    outline: none;
}

.header-forgot .header-content form div input::placeholder {
    color: white;
}

.header-forgot .header-content form div button.button-send {
    background-color: #FFCD61;
    font-size: 24px;
    height: 79px;
    width: 447px;
    border: none;
    border-radius: 10px;
    font-weight: 900;
}

.header-forgot .header-content .text {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    margin-top: 54px;
}

.header-login-signup {
    background-image: url(../assets/image/background-login-signup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-login-signup .header-content {
    background-color: rgba(0, 0, 0, 0.5);
    height: 758px;
    color: white;
}

.header-login-signup .header-content .header-title {
    margin-top: 107px;
    border-right: 1px solid white;
}

.header-login-signup .header-content h1.heading {
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    font-weight: 700;
    text-align: justify;
    width: 390px;
    margin-bottom: 43px;
}

.header-login-signup .header-content .header-title .text {
    font-weight: 700;
    size: 24px;
    text-align: justify;
    margin-bottom: 25px;
}

.header-login-signup .header-content .header-title button.button-login-signup {
    background-color: #393939;
    color: #FFCD61;
    box-shadow: 0px 0px 20px rgba(218, 218, 218, 0.25);
    border-radius: 10px;
    width: 391px;
    height: 79px;
    font-size: 24px;
    font-weight: 900;
}

.header-login-signup .header-content .header-login form {
    margin-top: 176px;
}

.header-login-signup .header-content .header-signup form {
    margin-top: 129px;
}

.form-login-signup div {
    text-align: center;
}

.form-login-signup div input {
    background: rgba(255, 255, 255, 0.26);
    width: 447px;
    height: 79px;
    margin-top: 34px;
    border: none;
    border-radius: 10px;
}

.form-login-signup div input:focus {
    outline: none;
    color: white;
}

.form-login-signup div input::placeholder {
    color: white;
    font-size: 24px;
    padding-left: 41px;
}

.form-login-signup p {
    margin-top: 14px;
}

.form-login-signup p a {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.signup {
    margin-top: 27px;
}

.login {
    margin-top: 49px;
}

.button-login-signup {
    background-color: #FFCD61;
    color: black;
    font-size: 24px;
    font-weight: 900;
    width: 446px;
    height: 79px;
    box-shadow: 0px 0px 20px rgba(248, 161, 112, 0.47);
    border-radius: 10px;
    border: none;
    padding: 0;
}

.button-login-signup-google {
    background-color: white;
    color: black;
    font-size: 24px;
    font-weight: 900;
    width: 447px;
    height: 79px;
    border-radius: 10px;
    margin-top: 34px;
    border: none;
}

.button-login-signup-google img {
    width: 31px;
    height: 33px;
    margin-right: 12px;
}

footer.footer {
    margin-top: 69px;
}

footer .footer .row.text {
    margin-bottom: 78px;
}

footer.footer ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

footer.footer ul li {
    font-family: 'Mulish', serif;
    font-weight: 300;
    color: #848484;
    font-size: 18;
    margin-top: 10px;
}

footer.footer .description {
    font-family: 'Mulish', serif;
    margin-top: 26px;
    margin-bottom: 53px;
    width: 300px;
    color: #848484;
    font-size: 18px;
    font-weight: 300;
}

footer.footer .copyright {
    font-family: 'Mulish', serif;
    color: #848484;
    font-size: 17px;
    font-weight: 300;
}

footer.footer h5 {
    font-family: 'Mulish', serif;
    font-weight: bold;
    font-size: 19px;
}

footer.footer .link-social {
    margin-top: 78px;
    border-top: 1px solid #c4c4c4;
    padding: 31px;
    text-align: center;
}

footer.footer .link-social i {
    font-size: 25px;
    margin-left: 17.5px;
    margin-right: 17.5px;
}

nav .container {
    padding-top: 73px;
}

button {
    width: 132px;
    height: 44px;
    border-radius: 8px;
}

nav button.button-login {
    border: 1px solid #FFCD61;
    background-color: white;
}

nav button.button-register {
    background-color: #FFCD61;
    border: none;
}

@media (max-width:767px) {
    .header-forgot .header-content {
        padding: 0 10px;
    }
    .header-forgot .header-content form div input {
        width: 100%;
    }
    .header-forgot .header-content form div button.button-send {
        width: 100%;
    }
    .header-forgot .header-content {
        padding: 0 10px;
    }
    .header-forgot .header-content form div input {
        width: 100%;
    }
    .header-login-signup .header-content {
        padding: 0 10px;
        height: 100%;
        width: 100%;
    }
    .header-login-signup .header-content .header-title {
        border-right: none;
        border-bottom: 1px solid white;
        padding-bottom: 20px;
    }
    .header-login-signup .header-content .header-title button.button-login-signup {
        width: 100%;
    }
    .header-forgot .header-content form div input {
        width: 100%;
    }
    .header-login-signup .header-content .header-login form div button.button-form {
        width: 100%;
    }
    .header-login-signup .header-content .header-login form div button.button-google {
        width: 100%;
        margin-bottom: 20px;
    }
}