* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 48px;
}

.search input[type="search"] {
    border-right: none;
    width: 269px;
    height: 50px;
    border: 0.8px solid #AFB0B9;
    color: #B8BECD;
    font-size: 16px;
}

.search input[type="search"]::placeholder {
    color: #B8BECD;
}

.search .btn {
    border: none;
    right: 0;
    width: 80px;
    height: 50px;
}

.search .btn i {
    font-size: 20px;
    color: #B8BECD;
}

.header-forgot {
    background-image: url(./image/backgroud-image-forgotpassword.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-forgot .header-content {
    background-color: rgba(0, 0, 0, 0.5);
    height: 758px;
    padding-left: 139px;
    color: white;
}

.header-forgot .header-content .header-nav {
    margin: 0.89px;
    padding-top: 74px;
}

.header-forgot .header-content .header-nav i {
    font-size: 30px;
    margin-right: 76px;
}

.header-forgot .header-content .header-nav span {
    font-size: 24px;
}

.header-forgot .header-content h1.heading {
    font-size: 64px;
    text-align: center;
    line-height: 85px;
    margin-top: 40px;
}

.header-forgot .header-content form div {
    text-align: center;
}

.header-forgot .header-content form div input {
    height: 79px;
    width: 447px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    margin-bottom: 31px;
}

.header-forgot .header-content form div input:focus {
    outline: none;
}

.header-forgot .header-content form div input::placeholder {
    color: white;
}

.header-forgot .header-content form div button.button-send {
    background-color: #FFCD61;
    font-size: 24px;
    height: 79px;
    width: 447px;
    border: none;
    border-radius: 10px;
    font-weight: 900;
}

.header-forgot .header-content .text {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    margin-top: 54px;
}

.button-filled {
    background-color: #FFCD61;
    width: 132px;
    height: 44px;
    border-radius: 8px;
    border: none;
    color: black;
    font-size: 24px;
}

.button-dark {
    background-color: #393939;
    width: 132px;
    height: 44px;
    border-radius: 8px;
}

.button-gray {
    background-color: rgba(203, 203, 212, 0.27);
    width: 132px;
    height: 44px;
    border-radius: 8px;
}

.button-white {
    background-color: white;
    width: 132px;
    height: 44px;
    border-radius: 8px;
}

.header-login-signup {
    background-image: url(../assets/image/background-login-signup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-login-signup .header-content {
    background-color: rgba(0, 0, 0, 0.5);
    height: 758px;
    color: white;
}

.header-title {
    margin-top: 107px;
}

h1.heading {
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    font-weight: 700;
    text-align: justify;
    margin-bottom: 43px;
}

.header-separator {
    margin-top: 104px;
}

.separator-circle {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 20px;
}

.separator-line {
    width: 1px;
    height: 100%;
    background-color: white;
}

.header-title .text {
    font-weight: 700;
    size: 24px;
    text-align: justify;
    margin-bottom: 25px;
}

.header-title .button-dark {
    width: 100%;
    height: 79px;
    font-family: 'Nunito', serif;
    font-size: 24px;
    font-weight: 900;
    color: #FFCD61;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(218, 218, 218, 0.25);
}

.header-login form {
    margin-top: 176px;
}

.header-signup form {
    margin-top: 129px;
}

.form-login-signup div input {
    background: rgba(255, 255, 255, 0.26);
    width: 447px;
    height: 79px;
    margin-top: 34px;
    border: none;
    border-radius: 10px;
}

.form-login-signup div input:focus {
    outline: none;
    color: white;
}

.form-login-signup div input::placeholder {
    color: white;
    font-size: 24px;
    padding-left: 41px;
}

.form-login-signup p {
    margin-top: 14px;
}

.form-login-signup p a {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.signup {
    margin-top: 27px;
}

.login {
    margin-top: 49px;
}

.form-login-signup .button-filled {
    font-weight: 900;
    width: 100%;
    height: 79px;
    box-shadow: 0px 0px 20px rgba(248, 161, 112, 0.47);
    border-radius: 10px;
}

.button-google {
    color: black;
    font-size: 24px;
    font-weight: 900;
    width: 447px;
    height: 79px;
    border-radius: 10px;
}

.button-google img {
    width: 31px;
    height: 33px;
    margin-right: 12px;
}

footer.footer {
    padding-top: 69px;
    background-color: #F9F9FB;
}

footer .footer .row.text {
    margin-bottom: 78px;
}

footer.footer ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

footer.footer ul li {
    font-family: 'Mulish', serif;
    font-weight: 300;
    color: #848484;
    font-size: 18;
    margin-top: 10px;
}

footer.footer .description {
    font-family: 'Mulish', serif;
    margin-top: 26px;
    margin-bottom: 53px;
    width: 300px;
    color: #848484;
    font-size: 18px;
    font-weight: 300;
}

footer.footer .copyright {
    font-family: 'Mulish', serif;
    color: #848484;
    font-size: 17px;
    font-weight: 300;
}

footer.footer h5 {
    font-family: 'Mulish', serif;
    font-weight: bold;
    font-size: 19px;
}

footer.footer .link-social {
    margin-top: 78px;
    border-top: 1px solid #c4c4c4;
    padding: 31px;
    text-align: center;
}

footer.footer .link-social i {
    font-size: 25px;
    margin-left: 17.5px;
    margin-right: 17.5px;
}

nav .container {
    padding-top: 73px;
    padding-bottom: 43px;
}

nav .button-white {
    border: 1px solid #FFCD61;
}

.jumbotron {
    background-image: url(../assets/image/background-jumbotron.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container-fluid {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 767px;
}

.jumbotron .container-fluid h1.heading {
    font-size: 64px;
    font-family: 'Playfair Display', serif;
    text-align: justify;
    font-weight: bold;
    width: 356px;
    color: white;
    padding-top: 69px;
    margin-left: 121px;
}

.jumbotron p {
    font-family: 'Nunito', serif;
    font-size: 22px;
    font-weight: 900;
    color: white;
    margin-left: 121px;
    margin-top: 74px;
}

.jumbotron .line {
    margin-left: 121px;
    margin-top: 17px;
    background-color: white;
    width: 32px;
    height: 2px;
}

.jumbotron form {
    margin-top: 48px;
    margin-left: 127px;
    margin-right: 30px;
}

.jumbotron form div select {
    display: relative;
    width: 220px;
    height: 52px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-family: 'Nunito', serif;
    font-weight: 700;
    padding-left: 31px;
    border: 0.8px solid #AFB0B9;
    border-radius: 6px;
    margin-right: 30px;
    margin-top: 35px;
}

.jumbotron form div input[type="date"] {
    width: 220px;
    height: 52px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-family: 'Nunito', serif;
    font-weight: 700;
    padding-left: 31px;
    border: 0.8px solid #AFB0B9;
    border-radius: 6px;
    margin-top: 35px;
}

.jumbotron form button.button-filled {
    width: 180px;
    height: 52px;
    margin-top: 51px;
    font-family: 'Nunito', serif;
    font-weight: 900;
    font-size: 17px;
}

.section-title {
    font-family: 'Playfair Display', serif;
    font-size: 38px;
    font-weight: 700;
}

.section-link-view {
    font-size: 17px;
    text-decoration: none;
    color: #FB8F1D;
}

.section-link-view i {
    font-size: 14px;
    color: #FB8F1D;
}

.text-title-vehicle {
    position: absolute;
    background-color: white;
    border-radius: 0px 6px 0px 0px;
    width: 120px;
    height: 56px;
    bottom: 0px;
    text-align: center;
}

.text-title-vehicle .vehicle-name {
    font-family: 'Nunito', serif;
    font-size: 17px;
    font-weight: 700;
}

.text-title-vehicle .location {
    font-family: 'Nunito', serif;
    font-size: 15px;
    color: #9F9F9F;
}

.popular-town {
    margin-top: 82px;
}

.popular-town .info {
    font-size: 24px;
    font-weight: 'Nunito', serif;
    font-weight: 700;
    color: #B8BECD;
}

.popular-town .no-vehicle {
    font-size: 24px;
    font-weight: 'Nunito', serif;
    font-weight: 400;
    color: #B8BECD;
    margin-top: 110px;
    margin-bottom: 120px;
}

.popular-town .header {
    margin-bottom: 55px;
}

.popular-town .col {
    margin-bottom: 59px;
}

.popular-town img {
    height: 332px;
    width: 261px;
    border-radius: 8px;
}

.testimonial {
    margin-top: 135px;
}

.testimonial .header {
    margin-bottom: 59px;
}

.testimonial .star {
    margin-top: 83px;
    font-size: 23px;
    color: #FFBB0C;
    margin-bottom: 30px;
}

.testimonial p {
    font-family: 'Mulish', serif;
    font-size: 24px;
    width: 450px;
    height: 144px;
}

.testimonial .name {
    font-family: 'Nunito', serif;
    font-weight: 700;
    font-size: 22px;
    margin-top: 40px;
}

.testimonial .location {
    font-family: 'Nunito', serif;
    font-size: 18px;
    margin-top: 20px;
}

.testimonial img {
    width: 384px;
    height: 491px;
    border-radius: 14px;
}

.testimonial .circle img {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 0;
    right: 0;
    z-index: 0 !important;
}

.testimonial .button-slide {
    width: 132px;
    height: 60px;
    background-color: white;
    border-radius: 16px 0px 0px 0px;
    bottom: 0;
    right: 0;
    padding-top: 20px;
    padding-left: 30px;
}

.testimonial .button-slide img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.badge-mail {
    background-color: #FFCD61;
    color: black;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Rubik', serif;
    width: 20px;
    height: 20px;
    padding: 2px;
    top: 7px;
    left: 0px;
    text-align: center;
}

nav div a img.profile {
    width: 50px;
    height: 50px;
}

nav div a img.mail {
    width: 40px;
    height: 36px;
}

.profile-general {
    text-align: center;
}

.profile h1.title {
    font-family: 'Nunito', serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 57px;
}

.button-edit-profile {
    border: unset;
    background-color: #FFCD61;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
}

.profile-detail {
    margin-top: 40px;
}

.profile-detail h1.name {
    font-size: 48px;
    font-weight: 700;
    font-family: 'Playfair Display', Times, serif;
    margin-bottom: 40px;
}

.profile-detail .detail {
    font-family: 'Nunito', serif;
    font-size: 24px;
    font-weight: 700;
    color: #B8BECD;
}

.profile-radio {
    margin-top: 134px;
}

.radio-gender {
    width: 30px;
    height: 30px;
}

.profile-radio div label {
    font-family: Nunito;
    font-size: 24px;
    color: #9F9F9F;
}

.profile-form {
    margin-top: 67px;
}

.profile-form h5 {
    font-family: 'Nunito', serif;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 37px;
}

.profile-form form div label {
    font-family: 'Nunito', serif;
    font-size: 24px;
    color: #9F9F9F;
}

.profile-form form div input {
    border: none;
    border-bottom: 1px solid #000000;
    font-family: 'Nunito', serif;
    font-size: 24px;
    padding-bottom: 26px;
}

.profile-form form div input:focus {
    outline: none;
}

.profile-form form div textarea {
    border: none;
    border-bottom: 1px solid #000000;
    font-family: 'Nunito', serif;
    font-size: 24px;
}

.profile-form form div textarea:focus {
    outline: none;
}

.profile-form form div .button-filled,
.profile-form form div .button-dark,
.profile-form form div .button-gray {
    width: 322px;
    height: 89px;
    color: #393939;
    font-size: 24px;
    font-family: 'Nunito', serif;
    font-weight: 900;
}

.profile-form form div .button-dark {
    color: #FFCD61;
}

.header-nav {
    font-family: 'Nunito', serif;
    font-size: 36px;
    font-weight: 700;
}

.header-nav i {
    font-size: 43px;
    font-weight: 700;
    color: #4A4C53;
    margin-right: 61px;
}

.title-vehicle {
    font-family: 'Playfair Display', Times, serif;
}

.title-vehicle h1 {
    font-weight: 900;
}

.title-vehicle .location {
    font-size: 36px;
}

.status-vehicle {
    font-size: 24px;
}

.status-vehicle .no-prepayment {
    color: #9B0A0A;
}

.detail-vehicle .header-nav {
    margin-bottom: 112px;
}

.form-quantity input {
    background-color: white;
    border: none;
    font-family: 'Nunito', serif;
    font-size: 48px;
    text-align: center;
    font-weight: 900;
}

.form-quantity button {
    width: 80px;
    height: 80px;
    font-size: 48px;
    font-weight: 900;
    font-family: 'Nunito', serif;
    border: none;
    border-radius: 10px;
}

.form-quantity button.plus {
    background-color: #FFCD61;
}

.form-quantity button.minus {
    background-color: rgba(203, 203, 212, 0.2);
}

.detail-vehicle .header-nav {
    margin-bottom: 112px;
}

.detail-vehicle .img-vehicle {
    width: 610px;
    height: 409px;
    margin-bottom: 25px;
}

.detail-vehicle .img-vehicle-detail img {
    width: 233px;
    height: 158px;
}

.detail-vehicle .img-vehicle-detail i {
    font-size: 43px;
    color: #4A4C53;
}

.detail-vehicle .title-vehicle {
    margin-bottom: 48px;
}

.detail-vehicle .status-vehicle {
    margin-bottom: 29px;
}

.detail-vehicle .detail-info {
    font-family: 'Nunito', serif;
    font-size: 24px;
}

.detail-vehicle .price {
    font-size: 36px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 50px;
}

.detail-vehicle .price h1 {
    font-size: 36px;
    font-weight: 900;
}

.detail-vehicle .form-quantity input {
    width: 321px;
}

.detail-vehicle .button-detail {
    margin-top: 58px;
}

.detail-vehicle .button-detail .button-dark,
.detail-vehicle .button-detail .button-filled {
    height: 89px;
    font-size: 'Nunito', serif;
    font-size: 24px;
    font-weight: bold;
    margin-right: 35px;
}

.detail-vehicle .button-detail .button-dark {
    color: #FFCD61;
}

.detail-vehicle .button-detail .btn-chat {
    width: 443px;
}

.detail-vehicle .button-detail .btn-reservation {
    width: 421px;
}

.detail-vehicle .button-detail .btn-like {
    width: 225px;
}

.detail-vehicle .button-detail .btn-like i {
    font-size: 50px;
}

.reservation .header-nav {
    margin-bottom: 121px;
}

.reservation .img-vehicle img {
    width: 696px;
    height: 616px;
}

.reservation .title-vehicle {
    margin-bottom: 32px;
}

.reservation .status-vehicle {
    margin-bottom: 74px;
}

.reservation .form-quantity input {
    width: 261px;
}

.reservation form h5 {
    font-family: 'Nunito', serif;
    font-size: 24px;
    margin-top: 73px;
    margin-bottom: 32px;
    font-weight: bold;
}

.reservation form .input-add {
    width: 339px;
    height: 80px;
    background-color: rgba(57, 57, 57, 0.1);
    border-radius: 10px;
    font-family: 'Nunito', serif;
    font-size: 24px;
    color: #80918E;
}

.reservation form .select-form {
    width: 339px;
    height: 80px;
}

.reservation form .select-form select {
    width: 339px;
    height: 80px;
    background-color: rgba(57, 57, 57, 0.1);
    border-radius: 10px;
    font-family: 'Nunito', serif;
    font-size: 24px;
    background-image: unset;
    color: #80918E;
}

.reservation form .select-form .arrow-select {
    right: 30px;
    font-size: 30px;
    font-weight: 900;
    color: #4A4C53;
}

.btn-payment {
    margin-top: 92px;
}

.btn-payment .button-filled {
    width: 100%;
    height: 89px;
    font-size: 24px;
    font-weight: 900;
    border: none;
}

.text-detail-payment-reservation {
    font-family: 'Nunito', serif;
    font-size: 24px;
    color: #393939;
}

.reservation-detail .header-nav {
    margin-bottom: 121px;
}

.reservation-detail .img-vehicle img {
    width: 660px;
    height: 477px;
}

.reservation-detail .title-vehicle {
    margin-bottom: 33px;
}

.reservation-detail .reservation {
    width: 100%;
    height: 107px;
    margin-bottom: 30px;
    border: 1px solid #80918E;
    padding: 21px 0 20px 44px;
    border-radius: 10px;
}

.reservation-detail .text-status {
    color: #80918E;
}

.reservation-detail .detail-reservation {
    border: 1px solid #80918E;
    padding: 54px 47px;
    border-radius: 10px;
    width: 100%;
    height: 216px;
}

.reservation-detail .detail-reservation h5 {
    font-weight: 900;
    font-size: 24px;
}

.reservation-detail .detail-reservation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.reservation-detail .detail-reservation ul li {
    margin-bottom: 10px;
    left: 0;
}

.reservation-detail .reservation-date {
    margin-top: 67px;
}

.reservation-detail .reservation-date .label {
    font-size: 36px;
    font-weight: bold;
}

.reservation-detail .reservation-date button {
    width: 317px;
    height: 89px;
    border: 1px solid #80918E;
    border-radius: 10px;
    margin-right: 48px;
    background-color: white;
}

.reservation-detail .payment-total {
    width: 100%;
    height: 116px;
    border: 1px solid #80918E;
    border-radius: 10px;
    text-align: center;
    margin-top: 49px;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 900;
    padding-top: 30px;
}

.reservation-detail .reservation .text-status {
    color: #80918E;
}

.payment .header-nav {
    margin-bottom: 105px;
}

.payment .img-vehicle img {
    width: 452px;
    height: 317px;
}

.payment .btn-payment {
    margin-top: 38px;
}

.payment .title-vehicle {
    margin-bottom: 20px;
}

.payment .text-status {
    color: #B8BECD;
    font-size: 32px;
    font-family: 'Nunito', serif;
}

.payment .code-payment h1 {
    font-size: 36px;
}

.payment .reservation-detail {
    width: 100%;
}

.payment .btn-copy-code .button-filled {
    width: 240px;
    height: 42px;
    font-weight: 700;
}

.payment .qty,
.payment .date {
    width: 100%;
    height: 107px;
    border: 1px solid #80918E;
    border-radius: 10px;
}

.payment .order-detail,
.payment .identity {
    width: 100%;
    height: 245px;
    border: 1px solid #80918E;
    border-radius: 10px;
}

.payment .order-detail {
    padding-top: 35px;
    padding-left: 65px;
}

.payment .identity {
    padding-top: 69px;
    padding-left: 59px;
}

.payment .order-detail h5,
.payment .identity h5 {
    font-weight: 900;
    font-size: 24px;
}

.payment .order-detail ul,
.payment .identity ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.payment .order-detail ul li,
.payment .identity ul li {
    left: 0;
}

.payment-transaction .label {
    font-size: 32px;
}

.payment-transaction .payment-code,
.payment-transaction .payment-method {
    width: 100%;
    height: 80px;
    border: 1px solid #80918E;
    border-radius: 10px;
}

.payment-transaction .payment-code .button-dark {
    width: 124px;
    height: 42px;
    color: #FFCD61;
}

.payment-transaction .payment-method select {
    height: 100%;
    border: none;
    font-family: 'Nunito', serif;
    font-size: 24px;
    background-image: unset;
    color: #80918E;
}

.payment-transaction .select-form .arrow-select {
    right: 30px;
    font-size: 30px;
    font-weight: 900;
    color: #4A4C53;
}

.payment-transaction .form-select option {
    background-color: white;
    width: 404px;
    height: 48px;
    border: 3px solid black;
}

.history .header-nav {
    margin-bottom: 105px;
}

.history .search-input,
.history .form-select {
    background-color: rgba(218, 218, 218, 0.27);
    font-family: 'Mulish', serif;
    font-size: 24px;
    color: #B8BECD;
}

.history .search-input,
.history .search-input::placeholder {
    padding-left: 20px;
    color: #B8BECD;
}

.history .search-filter {
    margin-bottom: 45px;
}

.history .search-filter .search-input {
    width: 674px;
    height: 75px;
}

.history .search-filter .btn-search {
    right: 5px;
    width: 75px;
    height: 75px;
}

.history .search-filter .btn-search i {
    font-size: 30px;
    align-items: center;
}

.history .search-filter .form-select {
    width: 157px;
    height: 75px;
}

.history .title-date {
    font-size: 24px;
    color: #C4C4C4;
    font-family: 'Nunito', serif;
    font-weight: 600;
}

.history .today {
    margin-top: 45px;
    font-family: 'Nunito', serif;
    font-size: 24px;
    color: #393939;
}

.history .list-today .list-group-item {
    border: none;
    border-bottom: 0.5px solid #C4C4C4;
    font-weight: 600;
    width: 866px;
}

.history .list-today .list-group-item .item {
    padding-top: 26px;
}

.history .list-today .list-group-item .item i {
    font-size: 30px;
    color: #999999;
}

.history .week {
    margin-top: 48px;
    font-family: 'Nunito', serif;
    font-size: 24px;
    color: #393939;
}

.history .list-week .list-group-item {
    border: none;
    margin-bottom: 52px;
}

.history .list-week img {
    width: 197px;
    height: 165px;
    border-radius: 20px;
}

.history .list-week h5 {
    font-weight: 700;
}

.history .list-week .date {
    margin-bottom: 14px;
}

.history .list-week .prepayment {
    font-weight: 700;
}

.history .list-week .status {
    color: green;
}

.history .button-filled {
    width: 205px;
    height: 71px;
    font-weight: 700;
}

.new-arrival {
    border: 1px solid #DADADA;
    border-radius: 10px;
}

.new-arrival .title {
    font-size: 24px;
    font-weight: 900;
    font-family: 'Playfair Display', Times, serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 54px;
}

.new-arrival .view-more {
    color: #B8BECD;
    font-family: 'Nunito', serif;
    font-size: 18px;
    margin-top: 50px;
}

.new-arrival .view-more i {
    margin-bottom: 22px;
}

.new-arrival .view-more i {
    color: #4A4C53;
    font-size: 43px;
    text-align: center;
}

.new-arrival img {
    width: 275px;
    height: 332px;
}

@media (max-width:991px) {
    .header-forgot .header-content {
        padding: 0 10px;
    }
    .header-forgot .header-content form div input {
        width: 100%;
    }
    .header-forgot .header-content form div button.button-send {
        width: 100%;
    }
    .header-forgot .header-content {
        padding: 0 10px;
    }
    .header-forgot .header-content form div input {
        width: 100%;
    }
    .header-login-signup .header-content {
        padding: 0 10px;
        height: 100%;
        width: 100%;
    }
    .header-title {
        padding-bottom: 10px;
        width: 100%;
    }
    .button-dark {
        width: 100%;
    }
    .button-filled {
        width: 100%;
    }
    .button-google {
        width: 100%;
    }
    .header-login-signup .title {
        text-align: center;
    }
    .form-login-signup div input {
        width: 100%;
    }
    .separator-line {
        width: 100%;
        height: 1px;
        background-color: white;
    }
    h1.heading {
        text-align: center;
    }
    .header-login form {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .header-signup form {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}